/* Variables */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --basic-background-color: #ffffff;
  --accent-color: #2196f3;
  --footer-color: rgba(255, 255, 255, 0.6);
  --hero-color: #2f303a;
  --button-background-color: #f5f4fa;
  --black-color: #000000;
  --hero-hover-color: #188ce8;
}

/* general */
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: var(--basic-background-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  font-family: inherit;
}

/* header */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  min-height: 80px;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-link {
  display: flex;
}

.nav-item {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link .nav-item:not(last-child) {
  display: flex;
  margin-right: 50px;
}

.nav-list-link .link {
  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
}

.header .nav-item {
  position: relative;
}

@keyframes menuAnimation {
  0% {
    transform: scaleX(0%);
  }
  100% {
    transform: scaleX(100%);
  }
}

.header .nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .nav-item:hover::after {
  transform: scaleX(1);
}

.header .current-page-item::after {
  transform: scaleX(1);
  animation-name: menuAnimation;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item:not(last-child) {
  display: flex;
  margin-right: 50px;
}

.contact-link {
  color: var(--secondary-text-color);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item-icon {
  display: flex;
  align-items: baseline;
  margin-right: 10px;
}

.contact-link .contact-item:hover,
.contact-link .contact-item:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .contact-item-icon,
.contact-link:focus .contact-item-icon {
  fill: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .link:hover {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  margin: 24px 93px 25px 0;
}

.logo-studio {
  color: var(--black-color);
}

.header .current-page {
  color: var(--accent-color);
}

.header .logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* hero*/

.hero {
  background-color: rgba(47, 48, 58, 0.4);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--basic-background-color);
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--basic-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-hover-color);
}

/* main */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.feature {
  background-color: var(--basic-background-color);
  color: var(--black-color);
}

.feature-list {
  display: flex;
}

.feature-list .feature-item:not(last-child) {
  margin-right: 30px;
}

.feature-box {
  width: 270px;
  height: 120px;
  background-color: var(--button-background-color);
  border-radius: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.feature-item-icon {
  display: flex;
  justify-content: center;
}

.section-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.activity {
  padding-top: 0;
}

.activity-list {
  display: flex;
  margin-top: 50px;
  margin-left: -30px;
}

.activity-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}

.activity-text-box {
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: var(--button-background-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  background-color: var(--basic-background-color);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  max-width: 270px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-item {
  padding-bottom: 30px;
}
.teammate-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.teammate-soc-list {
  display: flex;
  justify-content: center;
}

.teammate-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.teammate-soc-item:last-child {
  margin-right: 0;
}

.teammate-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--basic-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teammate-soc-icon {
  display: flex;
  fill: #afb1b8;
}

.teammate-soc-link:hover,
.teammate-soc-link:focus {
  background-color: var(--accent-color);
}

.teammate-soc-link:hover .teammate-soc-icon,
.teammate-soc-link:focus .teammate-soc-icon {
  fill: var(--basic-background-color);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.clients-list {
  display: flex;
}

.clients-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-icon {
  display: flex;
  align-items: center;
  fill: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-link:hover .clients-item-icon,
.clients-link:focus .clients-item-icon {
  fill: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--hero-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  height: 252px;
}

.footer-logo-link {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
}
.contact-link-footer {
  color: var(--secondary-text-color);
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-logo-studio {
  color: var(--basic-background-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.address {
  font-family: Roboto;
  color: var(--basic-background-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 9px;
  display: flex;
}

.address-list .address-item:not(last-child) {
  margin-bottom: 9px;
  display: flex;
}

.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--accent-color);
}

.footer-address {
  display: flex;
}

.footer-socials {
  margin-left: 70px;
}

.socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-background-color);
}

.socials-list {
  display: flex;
  margin-top: 20px;
}
.socials-item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  fill: var(--basic-background-color);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--basic-background-color);
}
/* footer new */

.footer-follow {
  margin-left: 93px;
}

.follow-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-background-color);
}

.footer-follow-wrap {
  display: flex;
  justify-content: center;
}

.follow-label {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--hero-color);
  display: flex;
  padding: 16px 15px;
}

.follow-label:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow-icon {
  margin-left: 10px;
  fill: #ffffff;
}

/* .subscribe-label:focus {
  ??
} */

/* Portfolio */

.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-portfolio {
  font-family: inherit;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--button-background-color);
  border-radius: 4px;
  padding: 6px 22px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list .current,
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--basic-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  margin: -15px;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--basic-background-color);
  background-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text {
  transform: translateY(-100%);
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: var(--basic-background-color);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--basic-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 10px;
  right: 10px;
  padding: 0;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--basic-background-color);
  fill: var(--accent-color);
}
.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

.modal-input:focus {
  border-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-label {
  font-size: 12px;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.conditions-text {
  color: var(--accent-color);
}

.button-send-wrap {
  display: flex;
  justify-content: center;
}

.button-send {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  height: 50px;
  width: 200px;
  color: var(--basic-background-color);
  margin-top: 30px;
  margin-bottom: 40px;
  align-items: center;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.button-send:hover,
.button-send:focus {
  background-color: var(--hero-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  margin-right: 8.38px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  left: 3px;
  top: 3px; */
}

.check-icon {
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:checked + .check-text .check-icon {
  fill: var(--basic-background-color);
}
