@import "./utils/vars";

@import "./base/general";

@import "./layouts/logo";
@import "./layouts/header";
@import "./layouts/socials";
@import "./layouts/footer";
@import "./layouts/backdrop";
@import "./layouts/modal";
@import "./layouts/hero";
@import "./layouts/features";
@import "./layouts/activity";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/portfolio";
