.footer {
  background-color: var(--hero-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  height: 603px;
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 463px;
  }
  @media screen and (min-width: 1200px) {
    height: 252px;
    text-align: left;
  }
}

.footer__address {
  display: block;
  text-align: center;
  margin-bottom: 60px;
  // @media screen and (min-width: 768px) {
  //   margin-right: 165px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer .container {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.address__text {
  font-family: Roboto;
  color: var(--basic-background-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 8px;
}

.address__list .address__item:not(last-child) {
  margin-bottom: 8px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* socials */

/* footer follow */

.footer-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin: auto;
    flex-direction: column;
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    align-items: start;
    margin-left: auto;
  }
}
.footer-follow__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-background-color);
}

.footer-follow__wrap {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-follow__label {
  margin-right: 12px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--hero-color);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 450px;
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-left: 0;
  }
  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-follow__button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-follow__icon {
  margin-left: 10px;
  fill: #ffffff;
}
