.hero {
  width: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  text-align: center;
  max-width: 1600px;
  max-height: 400px;
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66),
    url(../images/background/Hero_img_mobile_1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-left: auto;
  margin-right: auto;
  @include retina {
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url(../images/background/Hero_img_mobile@2x.jpg);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url(../images/background/Hero_img_tablet_1x.jpg);

    @include retina {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url(../images/background/Hero_img_tablet@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    max-height: 600px;
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url(../images/background/Hero_img_desktop_1x.jpg);
    @include retina {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url(../images/background/Hero_img_desktop@2x.jpg);
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-background-color);
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--basic-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hero-hover-color);
  }
}
