.hero {
  background-color: rgba(47, 48, 58, 0.4);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 100%;
  height: 600px;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--basic-background-color);
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--basic-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hero-hover-color);
  }
}
