.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.header__logo {
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 24px 93px 25px 0;
  color: var(--accent-color);
}

.logo--dark {
  color: var(--black-color);
}

.footer__logo {
  color: var(--accent-color);
}

.logo--light {
  color: var(--basic-background-color);
}
