.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  @media screen and (min-width: 1200px) {
    // margin-right: 93px;
    // display: flex;
    font-size: 26px;
  }
}

.header__logo {
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  padding: 15px 0;
  // @media screen and (min-width: 768px) {
  //   margin: 26px 88px 26px 15px;
  // }
  // @media screen and (min-width: 1200px) {
  //   margin: 24px 93px 25px 93px;
  // }
}

.logo--dark {
  color: var(--black-color);
}

.footer__logo {
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo--light {
  color: var(--basic-background-color);
}
