.menu__button {
  border: none;
  background-color: white;
  margin-right: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__button .icon__close {
  display: none;
}

.menu__button.is__open .icon__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  z-index: 99;
}

.menu__button.is__open .icon__menu {
  display: none;
}

.mobile__menu {
  background-color: var(--basic-background-color);
  text-align: center;
  padding: 20px;
  font-size: 20px;
  display: none;
  &.is__open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
