.modal {
  background-color: var(--basic-background-color);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  border-radius: 4px;
  width: 450px;
  min-height: 609px;

  @media screen and(min-width: 1200px) {
    width: 100%;
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--basic-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 10px;
  right: 10px;
  padding: 0;

  &:hover,
  &:focus {
    background-color: var(--basic-background-color);
    fill: var(--accent-color);
  }
}

.no-scroll {
  overflow: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__input-wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal__input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;

  &:focus {
    border-color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus + .modal__icon {
    fill: var(--accent-color);
  }
}

.modal__label {
  font-size: 12px;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  display: block;
  line-height: 100%;
}

.modal__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: var(--accent-color);

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__check-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal__conditions-text {
  color: var(--accent-color);
}

.modal__button-send {
  display: flex;
  justify-content: center;
}

.modal__send {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  padding: 10px 55px;
  color: var(--basic-background-color);
  margin-top: 30px;
  align-items: center;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  border: none;

  &:hover,
  &:focus {
    background-color: var(--hero-hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__check-icon {
  fill: transparent;
}

.modal__check:checked + .modal__check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal__check:checked + .modal__check-text .modal__check-icon {
  fill: var(--basic-background-color);
}
