.team {
  background-color: var(--button-background-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  width: 100%;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.team__item {
  background-color: var(--basic-background-color);
  max-width: 100%;
  // border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team__img {
  padding-bottom: 30px;
  max-width: 100%;
}

.teammate {
  // padding-top: 30px;
  padding-bottom: 30px;
}

.teammate__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.teammate__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
